/* CSS 公共样式*/
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none; 
	outline: none;
}
table{ border-collapse:collapse; }
textarea{ overflow: auto; resize:none;}
img {
	border:none;
   /* max-width:100%;*/
   vertical-align:bottom;
}
body {
	width: 100%;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#333333;
	background:#3a404e;
}
button{border:none; cursor:pointer;}
em,b,i,th,h4,h3,h2{
	font-style: normal;
	font-weight: normal;
}
input{ border:none; border:1px solid #d6d6d6; height:23px; line-height:23px; text-indent:5px;}
a {
	color:#02d1d9;
	text-decoration:none;
	outline:none;
}
.fl { float: left;}
.fr { float:right;}
.hide{ display:none;}
.show{ display:block;}

/*clearfix*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%}
.clearfix { display: block; zoom: 1; }


#content{
	width:450px;
	margin:0px auto;
}
#logo{ margin-top:100px; text-align:center;}
#logo img{vertical-align:bottom;}
#login{margin-top:100px;margin-bottom:30px;}
#login input{ 
	border:2px solid #474e5d; 
	color:#8f9299; 
	font-size:18px; 
	height:23px; 
	line-height:23px;
	padding:10px 15px;
	background:#2d3341;
	width:406px;
	margin-top:20px;
	border-radius:3px;
}
#login input:focus,#login input:active{
	color:#fff;
	font-weight:bold;
}
.form-group{
	position:relative;
}
.only_t {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group .icon {
    position: absolute;
    top: 35px;
    right: 19px;
    z-index: 2;
}
.icon-user {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/user.png) no-repeat scroll 50% 50% / 20px 18px transparent;
	width: 20px;
    line-height: 18px;
    height: 18px; 
}
.icon-lock {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/lock.png) no-repeat scroll 50% 50% / 14px 17px transparent;
	width: 14px;
    line-height: 17px;
    height: 17px;
}
#login .code input {width:200px;}
#login .code span{margin-left:8px;}
#verifyImg{vertical-align:bottom;}
.submit_btn{
	background:url(../images/login2.png)no-repeat center center;
	width:450px;
	height:47px;
	display:inline-block;
	margin-top:20px;
}
.submit_btn:hover{
	background:url(../images/login4.png)no-repeat center center;
}
.footer {
	height:60px;
	line-height:60px;
    font-family: "微软雅黑";
    font-size: 14px;
    color:#8f9299; 
    text-align: center;
}
#appc{ text-align: center;}
#appc a{ color:#ccc; font-size:14px;line-height:60px;text-decoration:underline;margin-left:10px;}
#appc a:hover{color:red;}

